<div *ngIf="state == 'listeJournees'">
    <h5>Semaine du {{semainePlanifiee?.dateDebut | date : 'mediumDate' : '+0000': 'fr'}}</h5>
    <div *ngFor="let journeePlanifiee of semainePlanifiee?.journeesPlanifiees">
        <ul class="list-group">
            <li [ngClass]="{'list-group-item-action' : journeePlanifiee!.partiesDeTachesPlanifiees!.length > 0,
                                                                                           'list-group-item list-tache-item' : true}"
                (click)="journeePlanifiee!.partiesDeTachesPlanifiees!.length > 0 && afficherJourneePlanifiee(journeePlanifiee!.journeePlanifieeID)">
                {{journeePlanifiee.date | date:'cccc':'+0000':'fr' | titlecase}}
                <ul>
                    <li *ngFor="let partiesDeTachesPlanifiees of journeePlanifiee.partiesDeTachesPlanifiees">
                        {{partiesDeTachesPlanifiees.tachePlanifiee!.tache!.nom}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="centered-buttons">
        <button class="btn btn-danger" (click)="supprimerSemaine()">Supprimer</button>
    </div>
</div>
<app-journee-planifiee [journeePlanifiee]='journeePlanifiee!' *ngIf="state == 'journee'"></app-journee-planifiee>