/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
    width: 100vw;
    height: 100vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
    margin: 0;
}

h5 {
    font-size: large;
    font-weight: normal;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8%;
    border-bottom: solid black 2px;
}

#footer {
    display: flex;
    height: 8%;
    border-top: solid black 2px;
}

.center {
    text-align: center;
}

.list-group {
    margin-top: 2%;
    margin-bottom: 2%;
}

.list-group-item {
    margin-bottom: 2%;
    background-color: rgb(240, 240, 240);
}

.hover-dark:hover {
    filter: brightness(0.7);
    cursor: pointer;
}

.hover-light:hover {
    filter: brightness(3);
    cursor: pointer;
}
