<div *ngIf='state == "liste"'>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action list-tache-item"
            *ngFor='let horaireDisponibilites of horairesDisponibilites'
            (click)="afficherHoraire(horaireDisponibilites.horaireDisponibilitesID)">{{horaireDisponibilites.nom}}</li>
    </ul>

    <i class="fas fa-plus fa-3x hover-dark mb-3 me-3" (click)='nouvelHoraire()'></i>
</div>
<app-horaire-disponibilites [horaireDisponibilitesID]="horaireDisponibilitesID"
    (ajouterNouvelHoraire)="ajouterNouvelHoraire($event)" (retourListe)="retourListe()" *ngIf='state == "horaire"'>
</app-horaire-disponibilites>