<header id="header">
    <div id="header_content" class="position-relative">
        <i id="backBtn" class="fas fa-angle-double-left fa-2x hover-light position-absolute start-0"
            *ngIf="state != 'listeSemaines'" (click)="changerPage('Mon planning')"></i>
        <h1>{{title}}</h1>
    </div>
</header>

<div id="main_content">
    <app-taches *ngIf="title == 'Taches'"></app-taches>
    <app-horaires-disponibilites *ngIf="title == 'Disponibilites'"></app-horaires-disponibilites>
    <app-semaines-planifiees [state]="state" (backBtn)="stateSemaines($event)" *ngIf="title == 'Mon planning'">
    </app-semaines-planifiees>
</div>

<footer id="footer" class="fixed-bottom hstack gap-3 mt-2 p-2" *ngIf="title == 'Mon planning'">
    <div id="footer_content">
        <button id="taches" type="button" class="btn btn-primary m-auto" (click)="changerPage('Taches')">Tâche</button>
        <button id="disponibilites" type="button" class="btn btn-primary m-auto"
            (click)="changerPage('Disponibilites')">Disponibilités</button>
    </div>
</footer>

<router-outlet></router-outlet>