@media screen and (min-width: 900px) {
    #main_content, #header_content, #footer_content {
        padding: 0 25%;
    }
}

#main_content {
    margin: 3% 5%;
}

.btn-primary {
    padding-left: 0;
    padding-right: 0;
    width: 30%;
}

#backBtn {
    margin-left: 4%;
}

