<app-disponibilite *ngIf='state == "disponibilite"' [disponibiliteID]="disponibiliteID"
    (ajouterNouvelleDisponibilite)="ajouterNouvelleDisponibilite($event)">
</app-disponibilite>

<label for="horaireDisponibilites.nom">Nom:</label>
<input class="form-control" id="nomHoraire" [(ngModel)]="horaireDisponibilites.nom" name='horaireDisponibilites.nom'
    [ngClass]="{'redBorder': !isNomValide}" />

<h5>Mes disponibilités</h5>
<div *ngFor='let disponibilite of horaireDisponibilites.disponibilites'>
    <ul class="list-group">
        <li class="list-group-item">
            <p>Journée: {{NOM_JOURNEES[disponibilite.journee!]}}</p>
            <p>Heure de début: {{HEURES[disponibilite.heureDebut! * 4]}}</p>
            <p>Heure de fin: {{HEURES[disponibilite.heureFin! * 4]}}</p>
            <p>Duréedisponible: {{duree(disponibilite)}} heures</p>

            <div id="btnModifSupp">
                <button class="btn btn-success m-1"
                    (click)="afficherDisponibilite(disponibilite.disponibiliteID!)">Modifier</button>
                <button class="btn btn-danger m-1"
                    (click)="supprimerDisponibilite(disponibilite.disponibiliteID!)">Supprimer</button>
            </div>
        </li>
    </ul>
</div>

<div class="container" *ngIf="state != 'disponibilite'">
    <div class="row">
        <button class="btn btn-success m-auto" id="btnDisponibilite" (click)="ajouterDisponibilite()">
            Ajouter une disponibilité
        </button>
    </div>
</div>

<div class="fixed-bottom">
    <button class="btn btn-primary" id="accepter"
        *ngIf="horaireDisponibilitesID == -1 && horaireDisponibilites.disponibilites!.length > 0"
        (click)="ajouterHoraire()">Accepter nouvel horaire</button>
    <div id="btnEnreSupp" class="gap-4">
        <button class="btn btn-primary" *ngIf="horaireDisponibilitesID != -1"
            (click)='enregistrerHoraire()'>Enregistrer</button>
        <button class="btn btn-danger" *ngIf="horaireDisponibilitesID != -1"
            (click)='supprimerHoraire()'>Supprimer</button>
    </div>

</div>